PORT=3000
JWT_SECRET=change-this-secret

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=possim_root_password
DB_NAME=pos_mini_app

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DISABLED=false

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
